# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak

# Local env
.env
!.env.example

# Coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/
coverage.xml

# Jupyter
.ipynb_checkpoints/

#agent
CLAUDE*.md

/icon.png